{:kotoba.app/id "cloud.itonami.isic-0121", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihq4ed2bmle6oys6eyw2yzczolttrn3jox3sn7dbevgsphliiynxi", :kotoba.app/embed-url "ipfs://bafkreihq4ed2bmle6oys6eyw2yzczolttrn3jox3sn7dbevgsphliiynxi", :published {:archive "https://kotobase.net/ipfs/bafkreihq4ed2bmle6oys6eyw2yzczolttrn3jox3sn7dbevgsphliiynxi", :size 72312, :put-status 201, :get-status 200, :at "2026-08-15T12:55:48.777Z"}}
